[submodule ".registry"]
	path = .registry
	url = https://github.com/metagenlab/metagenlab.r-universe.dev
	branch = HEAD
[submodule "zAMPExplorer"]
	path = zAMPExplorer
	url = https://github.com/metagenlab/zAMPExplorer
	branch = Devel
