[submodule ".registry"]
	path = .registry
	url = https://github.com/metagenlab/metagenlab.r-universe.dev
	branch = HEAD
[submodule "DirichletMultinomial"]
	path = DirichletMultinomial
	url = https://github.com/mtmorgan/DirichletMultinomial
[submodule "InteractiveComplexHeatmap"]
	path = InteractiveComplexHeatmap
	url = https://github.com/jokergoo/InteractiveComplexHeatmap
[submodule "Maaslin2"]
	path = Maaslin2
	url = https://github.com/biobakery/Maaslin2
[submodule "MicEco"]
	path = MicEco
	url = https://github.com/Russel88/MicEco
[submodule "MicrobiotaProcess"]
	path = MicrobiotaProcess
	url = https://github.com/YuLab-SMU/MicrobiotaProcess
[submodule "mia"]
	path = mia
	url = https://github.com/microbiome/mia
[submodule "miaTime"]
	path = miaTime
	url = https://github.com/microbiome/miaTime
	registered = false
[submodule "miaViz"]
	path = miaViz
	url = https://github.com/microbiome/miaViz
[submodule "microViz"]
	path = microViz
	url = https://github.com/david-barnett/microViz
[submodule "microbiomeMarker"]
	path = microbiomeMarker
	url = https://github.com/yiluheihei/microbiomeMarker
[submodule "microbiomeutilities"]
	path = microbiomeutilities
	url = https://github.com/microsud/microbiomeutilities
[submodule "zAMPExplorer"]
	path = zAMPExplorer
	url = https://github.com/metagenlab/zAMPExplorer
